body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: mediumslateblue;
}

.todolist-container {
    background: #e6f2ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 30px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 15px;
    border: none;
    background: blue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#gr{
display: flex;
flex-direction: row;

}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 3px;
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

li span {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.edit-button:hover, .delete-button:hover {
    color: #333;
}

input[type="checkbox"] {
    margin-right: 10px;
}